#main {
  background: white;
  height: 1000%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index:
}

#logo {
  background-image: url(./logo.jpg);
  overflow: hidden;
  background-size: contain;
}
