#content {
  margin-top: 100%;
  position: absolute;
  color: #72984B;
<<<<<<< HEAD
  margin-left: 35%;
  text-align: center;
  font-size: 300%;
=======
  margin-left: 40%;
>>>>>>> fad54ef405be688de6d1333e4250217883d08677

}
